.info
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: radial-gradient(circle at center, darken(#0F00B3, 90%) 45%, darken(#0F00B3, 85%) 80%);
  overflow: hidden;
  padding: BS*100;
  box-sizing: border-box;
  &__journey_list
    bs-font-size(35)
    line-height: 150%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: BS * 50;
    &:last-child
      margin-bottom: 0;
  &__journey_listelement
    position: relative;
    margin-right: BS * 50;
    color: rgba(255,255,255,0.5);
    transition: color 0.3s ease-out;
    cursor: default;
    &--title
      color: rgba(255,255,255,1)
    &:hover
      color: rgba(255,255,255,1)
    &:after
      content: '';
      position: absolute;
      top: 50%;
      right: BS * -25;
      width: BS * 8;
      height: BS * 8;
      border-radius: 50%;
      transform: translate(50%, -50%);
      background: rgba(255,255,255,0.5);
      border-top: solid BS rgba(255,255,255,1);
      box-sizing: border-box;
    &:last-child
      margin-right: 0;
      &:after
        content: none;


@media BreakpointM
  .info
    &__journey_list
      bs-font-size(65)
      line-height: 190%;
      margin-bottom: BS * 100;
    &__journey_listelement
      margin-right: BS * 100;
      &:after
        right: BS * -50;
        width: BS * 16;
        height: BS * 16;


@media BreakpointXS
  .info
    padding: BS*200;
    &__journey_list
      width: 100%;
      justify-content: flex-start;
      bs-font-size(120)
      line-height: 190%;
      margin-bottom: BS * 200;
    &__journey_listelement
      margin-right: BS * 200;
      &:after
        right: BS * -100;
        width: BS * 32;
        height: BS * 32;
      &--title
        margin-right: 0;
        width: 100%;
        &:after
          content: none;
